In [2]:
# First Name  : Sri Jay Adarsh
# Last Name   : Gogineni
# CWID        : 20025484
# Purpose     : Homework 5

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [4]:
# Reading the "breast-cancer-wisconsin.csv" file into a Pandas DataFrame
data = pd.read_csv("breast-cancer-wisconsin.csv")
data.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [5]:
data.replace("?", np.nan, inplace=True)

In [6]:
data.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [7]:
# Converting the 'Class' column to type category
data['Class'] = data['Class'].map({2: 'Benign', 4: 'Malignant'}).astype('category')

In [8]:
# Splitting the data into 70% train and 30% test
X = data.iloc[:, 1:-1]  # Features (excluding the 'Class' column)
y = data['Class']       # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [9]:
# Implementing CART (Decision Tree)
cart = DecisionTreeClassifier(criterion='gini')
cart.fit(X_train, y_train)

DecisionTreeClassifier()

In [10]:
# Predicting class for the test set
predict_dt = cart.predict(X_test)
print(len(predict_dt))
print(len(y_test))

210
210

In [11]:
# Creating a confusion matrix
conf_matrix = confusion_matrix(predict_dt, y_test)
print(conf_matrix)

[[128  16]
 [  3  63]]

In [12]:
# Checking accuracy of the model
accuracy = accuracy_score(predict_dt, y_test)
print(accuracy*100)

90.95238095238095

In [13]:
# Error rate
error_rate = 1.0 - accuracy
print(error_rate)

0.09047619047619049