In [30]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

# Load the dataset
dataset = pd.read_csv('breast-cancer-wisconsin.csv')

# Display 
dataset.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [24]:
#Summary of Statistics(min,max,mean)
summary = dataset.describe()
print(summary)

             Sample          F1          F2          F3          F4  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

               F5          F7          F8          F9       Class
count  699.000000  699.000000  699.000000  699.000000  699.000000
mean     3.216023    3.437768    2.866953    1.589413    2.689557
std      2.214300    2.438364    3.053634    1.715078    0.951273
min      1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000    2.000000    1.000000    1.000000    2.000000
50%      2.000000    3.000000    1.000000    1.000000    2.000000
75%      4.000000    5.000000    4.000000    1.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000    4.000000

In [31]:
dataset.replace("?", np.nan, inplace=True)

#drop the missing values
dataset.dropna(inplace=True)

In [33]:
# Rename the columns to more descriptive names
dataset = dataset.rename(columns={
    'F1': 'Clump_Thickness',
    'F2': 'Uniformity_of_Cell_Size',
    'F3': 'Uniformity_of_Cell_Shape',
    'F4': 'Marginal_Adhesion',
    'F5': 'Single_Epithelial_Cell_Size',
    'F6': 'Bare_Nuclei',
    'F7': 'Bland_Chromatin',
    'F8': 'Normal_Nucleoli',
    'F9': 'Mitoses',
    'Class': 'Diagnosis'
})
dataset['Diagnosis'].replace({2: 'benign', 4: 'malignant'}, inplace=True)

X = dataset.drop('Diagnosis', axis=1)
Y = dataset['Diagnosis']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

,Sample,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Diagnosis
0,1000025,5,1,1,1,2,1,3,1,1,benign
1,1002945,5,4,4,5,7,10,3,2,1,benign
2,1015425,3,1,1,1,2,2,3,1,1,benign
3,1016277,6,8,8,1,3,4,3,7,1,benign
4,1017023,4,1,1,3,2,1,3,1,1,benign

In [32]:

# Create the Naïve Bayes model
nb_model = GaussianNB()

# Fit the model on the training data
nb_model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = nb_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("\nClassification Report:\n", report)

NameError: name 'X_train' is not defined